@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fb;
    color: #191c1e;
  }
  
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #c5c5d3;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #757682;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#00236f] text-white px-6 py-2 rounded-xl font-semibold shadow-md hover:bg-[#00236f]/90 transition-all active:scale-95;
  }
  .btn-secondary {
    @apply bg-[#a53936] text-white px-6 py-2 rounded-xl font-semibold shadow-md hover:bg-[#852221] transition-all active:scale-95;
  }
  .card {
    @apply bg-white rounded-xl border border-[#E2E8F0] shadow-sm;
  }
  .input-field {
    @apply w-full px-4 py-3 rounded-xl border border-[#757682] bg-white focus:ring-2 focus:ring-[#00236f] focus:border-transparent outline-none transition-all;
  }

  .signature-canvas {
    touch-action: none;
    cursor: crosshair;
    width: 100%;
    height: 100%;
  }

  .institution-radio:checked + label {
    border-color: #a53936;
    background-color: #ffdad7;
    box-shadow: inset 0 0 0 1px #a53936;
  }

  #notif-dropdown {
    animation: slideDown 0.25s ease;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #notif-dropdown::-webkit-scrollbar {
    width: 4px;
  }

  #notif-dropdown::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
}
